@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}

.fade-in-top{
    animation: TopFade 1s ease-in-out forwards;
}

@keyframes TopFade {
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0);
    }
}

.fade-in-bottom{
    animation: bottomFade 1s ease-in-out forwards;
}

@keyframes bottomFade {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(100%);
    }
}